{% extends 'base.html' %}

{% block title %}Przeglądaj bilans{% endblock %}

{% block body %}
<main>
    <article>
        <div class="d-grid justify-content-end mb-4">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="timePeriodDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Przedział czasu
                </button>

                <ul id="dropdownMenu" class="dropdown-menu dropdown-menu-end" aria-labelledby="timePeriodDropdown">
                    <li><button id="test" class="dropdown-item active" onclick="javascript:getData('currentMonth', this)">Bieżący miesiąc</button></li>
                    <li><button class="dropdown-item" onclick="javascript:getData('lastMonth', this)">Poprzedni miesiąc</button></li>
                    <li><button class="dropdown-item" onclick="javascript:getData('currentYear', this)">Bieżący rok</button></li>
                    <div class="dropdown-divider"></div>
                    <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#choseTimePeriod">Niestandardowy</button></li>
                </ul>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <h2>Przychody</h2>

                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Rodzaj</th>
                            <th scope="col">Kwota</th>
                        </tr>
                    </thead>
                    <tbody id="incomeTable"></tbody>
                    <tfoot>
                        <tr>
                            <td scope="col">Suma:</td>
                            <td scope="col" id="incomeSum"></td>
                        </tr>
                    </tfoot>
                </table>	
            </div>
            
            <div class="col-md-6">
                <h2 class="text-danger">Wydatki</h2>

                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Rodzaj</th>
                            <th scope="col">Kwota</th>
                        </tr>
                    </thead>
                    <tbody id="expenseTable"></tbody>
                    <tfoot>
                        <tr>
                            <td scope="col">Suma:</td>
                            <td scope="col" id="expenseSum"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        {% set balance = incomeSum - expenseSum %}
        <div class="row text-center mt-2" style="max-width: 800px;">
            <h2>Twój bilans z wybranego przedziału czasu:  {{ balance }} złotych</h2>
            {% if balance < 0 %} 
             <h2 class="text-danger my-2">Uwaga! Wpadasz w długi!</h2>
            {% elseif balance > 0 %}
                <h2 class="text-success my-2">Brawo! Wspaniale zarządzasz finansami!</h2>
            {% endif %}

            <div id="incomePiechart"></div>
            <div id="expensePiechart" class="mt-3"></div>
        </div>

        <div class="d-grid justify-content-end">
            <a href="/home" class="btn btn-success">Powrót</a>
        </div>

    </article>
</main>	

{% endblock %}

{% block footer %}
<!-- Chose time period window -->
<div class="modal fade" id="choseTimePeriod" tabindex="-1" aria-labelledby="choseTimePeriodLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="choseTimePeriodLabel">Wybierz zakres dat</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="customDate" action="javascript:getCustomPeriodData('customPeriod')">
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="col-form-label" for="startDateInput" id="startDateLabel">Od</label>
                            <div>
                                <input type="date" class="form-control inputBox" id="startDateInput" name="startDate" aria-label="Do" aria-describedby="startDateLabel" required/>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="col-form-label" for="endDateInput" id="endDateLabel">Do</label>
                            <div>
                                <input type="date" class="form-control inputBox" id="endDateInput" name="endDate" aria-label="Od" aria-describedby="endDateLabel" required/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                <button type="submit" form="customDate" class="btn btn-success">Zatwierdź</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/js/viewBalance.js"></script>
{% endblock %}