{% extends 'base.html' %}

{% block title %}Dodaj wydatek{% endblock %}

{% block body %}

{% if expense.errors is not empty %}
<p>Błędy:</p>
<ul>
    {% for error in expense.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    {% for error in payment.errors %}
        <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
<main>
    <article>

        <div class="small alert p-2 mb-3" id="limitSection" style="display: none;">
            <div class="row">
                <div class="d-grid mb-3">
                    <strong>Informacja o limicie:</strong>
                    <label id="limitMessage" class="strong"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm d-grid">
                    <strong>Limit:</strong>
                    <label id="limit"></label>
                </div>
                <div class="col-sm d-grid">
                    <strong>Wydano:</strong>
                    <label id="spent"></label>
                </div>
                <div class="col-sm d-grid">
                    <strong>Bilans:</strong>
                    <label id="balance"></label>                
                </div>
                <div class="col-sm d-grid">
                    <strong>Suma:</strong>
                    <label id="spentAndValueInput"></label>
                </div>
            </div>
        </div>

        <form id="expense" action="/add-expense/create" method="post">	
            <div class="row mb-1">
                <label class="col-sm-4 col-form-label" for="valueInput">Kwota</label>
                <div class="col-sm input-group">
                    <input type="number" class="form-control inputBox" id="valueInput" name="valueInput" onchange="updateInput(this)" min="0" step="0.01" placeholder="Podaj kwotę" onfocus="this.placeholder=''" onblur="this.placeholder='Podaj kwotę'" aria-label="Podaj kwotę" aria-describedby="valueLabel" required/>
                    <div class="input-group-append">
                        <span class="input-group-text inputBox" style="margin-left: -2px;" id="valueLabel">zł</span>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <label class="col-sm-4 col-form-label" for="dateInput" id="dateLabel">Data</label>
                <div class="col-sm">
                    <input type="date" class="form-control inputBox" id="dateInput" name="dateInput" aria-label="Data" aria-describedby="dateLabel"/>
                </div>
            </div>
            
            <fieldset class="form-group" aria-label="Sposób płatności">
                <legend class="col-form-label"><h2>Sposób płatności</h2></legend>
                <select class="form-select" name="methodId" aria-label="Sposób płatności" required>
                {% for method in methods %}
                    <option value="{{ method.id }}">{{ method.name|capitalize }}</option>
                {% endfor %}
                </select>
            </fieldset>

            <fieldset class="form-group" aria-label="Kategoria">
                <legend class="col-form-label"><h2>Kategoria</h2></legend>
               
                {% for category in categories %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="{{ category.id }}" name="categoryId" id="c{{ category.id }}" 
                        {% if category.limit_active == true %} onclick="radioClickHandler(this)" {% else %} onclick="hideLimitSection()" {% endif %} aria-describedby="c{{ category.id }}Label" required>

                        <label class="form-check-label" id="c{{ category.id }}Label" for="c{{ category.id }}">
                            {{ category.name|capitalize }}

                            {% if category.limit_active == true %}
                                </br><small><strong>Limit:</strong> {{ category.expense_limit }} zł</small>
                            {% endif %}
                        </label>
                    </div>                    
                {% endfor %}
            </fieldset>
            
            <div class="form-group">
                <h2>
                    <label class="col-12 mt-3 text-center" for="comment" id="commentLabel">Komentarz (opcjonalnie)</label>
                </h2>
                <textarea class="form-control comment" id="comment" name="comment" placeholder="Napisz coś miłego :)" onfocus="this.placeholder=''" onblur="this.placeholder='Napisz coś miłego :)'" rows="4" maxlength="100" aria-label="Komentarz (opcjonalnie)" aria-describedby="commentLabel"></textarea>
            </div>
        </form>
        
        <div class="row gap-2 mx-0 mb-2 mt-3">
            <input type="submit" class="btn btn-success col-sm" form="expense" value="Dodaj"/>
            <a href="/view-balance" class="btn btn-success col-sm">Bilans</a>
            <a href="/home" class="btn btn-danger col-sm">Anuluj</a>
        </div>	
    </article>
</main>	
{% endblock %}

{% block footer %}
    <script>
        $(document).ready(function() {
            document.getElementById("dateInput").valueAsDate = new Date();
        });
    </script>

    <script src="/js/limit.js"></script>
{% endblock %}
