{% extends 'base.html' %}

{% block title %}Logowanie{% endblock %}

{% block body %}
<main>
    <article>
        <form name="form" action="/login/create" method="post">
            <div class="d-grid gap-1">
                <input type="email" class="form-control inputBox" placeholder="Email" onfocus="this.placeholder=''" onblur="this.placeholder='Email'" name="email" aria-label="Email" required>
            
                <input type="password" class="form-control inputBox" id="firstPassword" placeholder="Hasło" onfocus="this.placeholder=''" onblur="this.placeholder='Hasło'" name="password" aria-label="Hasło" required>
            
                <input type="submit" class="btn btn-lg btn-success mt-3" value="Zaloguj">
            </div>
        </form>
        <h5 class="text-center">Nie masz jeszcze konta? Zarejestruj się <a href="/signup/new">tutaj</a></h5>
    </article>
</main>

{% endblock %}